@model Projeto02.GestaoForum.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmaSenha" class="control-label"></label>
                <input asp-for="ConfirmaSenha" class="form-control" />
                <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Incluir Usuario" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

